:root {
	--azulClaro: rgb(142, 202, 230) !important;
	--azul: rgb(33, 158, 188) !important;
	--azulOscuro: rgb(2, 48, 71) !important;
	--amarillo: rgb(255, 183, 3) !important;
	--naranja: rgb(251, 133, 0) !important;
	--moradoClaro: rgb(144, 96, 235) !important;
	--morado: rgb(125, 76, 219) !important;
}

/* Unicos */
#root {
	height: 100%;
	min-height: 100vh;
}

/* Clases */
.bg-gradient {
	background: #81fced;
}

/* Etiquetas */
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/*
AZULCLARO #81FCED
MORADOGROMMET #7D4CDB
moradooscuro #5E21BC
*/

/*
font-family: 'Roboto Mono', monospace;
*/

/*GENERAL*/

.ml {
	margin-left: 2rem;
}

.general-title {
	font-size: 25px;
	font-family: Roboto Mono;
	margin: 0;
}

/*LOGIN*/

.login-welcome {
	width: 100%;
	height: 100%;
}

.login-img {
	height: 60%;
	display: flex;
	justify-content: center;
}

.login-img-image {
	position: relative;
	top: 60px;
}

.login-footer {
	width: 100%;
	height: 40%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: 0;
}

/*BUTTONMENU*/

.button-menu-container {
	background-color: #81fced;
	height: 50px;
	width: 40px;
	position: fixed;
	left: 0;
	top: 15px;
	cursor: pointer;
	border-top-right-radius: 24px;
	border-bottom-right-radius: 24px;
	display: flex;
	align-items: center;
	z-index: 1;
	justify-content: flex-end;
	padding-right: 10px;
}

.sidebar-button-menu-container {
	background-color: #81fced;
	height: 50px;
	width: 50px;
	position: relative;
	left: 168px;
	bottom: 9px;
	cursor: pointer;
	border-top-right-radius: 24px;
	border-bottom-right-radius: 24px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 10px;
}

.button-menu-icon {
	fill: #fff !important;
}

.header {
	height: 70px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 1rem;
	font-family: Roboto Mono;
	font-style: normal;
	line-height: 40px;
	color: #5e21bc;
}

.header-container {
	display: flex;
	align-items: center;
}

.header-logo {
	margin-left: 0.5rem;
	height: 45px;
	width: 45px;
}

.footer {
	background-color: #5e21bc;
	height: 120px;
	font-family: Roboto Mono;
	color: white;
	flex-direction: column;
}

.footer-content {
	height: 70%;
	display: flex;
	justify-content: space-between;
	margin-left: 2rem;
	margin-right: 2rem;
}

.footer-right {
	display: flex;
	justify-content: center;
}

.footer-icon {
	margin-top: 30px;
	height: 50px;
	width: 50px;
	cursor: pointer;
}

.footer-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	margin-right: 2rem;
}

.footer-link {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	color: white;
	text-decoration: none;
}

.footer-link:hover {
	font-weight: bold !important;
}

.footer-menu-container {
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.footer-up-icon {
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.contacts-main {
	min-height: 80vh;
}

.contacts-show {
	display: flex;
	align-items: center;
	margin-left: 2.5rem;
}

.contacts-show-select-container {
	margin-left: 1rem;
}

.contacts-title-container {
	display: flex;
	justify-content: center;
}

.contact-table-container {
	margin-left: 2rem;
	margin-right: 2rem;
	margin-top: 0rem;
	margin-bottom: 1rem;
}

.contacts-barup {
	display: flex;
	justify-content: space-between;
}

.contacts-button-add {
	margin-right: 2.5rem;
	display: flex;
	align-items: center;
}

.contact-pointer {
	cursor: pointer;
}

.modal-contact-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px;
}

.modal-contact-span-container {
	background-color: #ababab;
	width: 100%;
	height: 0.5px;
}

.add-new-contact-form {
	padding: 1rem;
	max-height: 400px;
	overflow: auto;
}

.add-new-label {
	height: 35px;
	font-size: 16px !important;
}

.modal-contact-margin {
	margin-bottom: 0.5rem;
}

/*FORMULARIO DE LOGIN*/

.login-form {
	width: 100%;
	height: 100%;
}

.loginform-mt {
	height: 20%;
}

.loginform-container {
	display: flex;
	flex-direction: column;
	height: 90%;
}

.loginform-eslogan {
	text-align: center;
	color: black;
	font-weight: 300;
	font-family: Roboto Mono;
	margin-left: 15%;
	margin-right: 15%;
	line-height: 40px;
	font-size: 30px;
}

.loginform-formulario {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80%;
}

.login-form-link {
	display: flex;
	justify-content: center;
	text-decoration: none;
	color: #7d4cdb;
}

.login-form-link:hover {
	font-weight: bold !important;
}

.login-form-label {
	border-bottom: 2px solid #9060eb !important;
}

.loginform-header{
	display:flex;
	justify-content:center;
}