body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/*
AZULCLARO #81FCED
MORADOGROMMET #7D4CDB
*/

/*
font-family: 'Roboto Mono', monospace;
*/

/*LOGIN*/

.login-welcome{
	width: 100%;
	height: 100%;
}

.login-img{
	height: 60%;
	display: flex;
    justify-content: center;
}

.login-img-image{
	position: relative;
    top: 60px;
}

.login-footer{
	width: 100%;
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0;
}

/*BUTTONMENU*/

.button-menu-container{
	background-color: #7D4CDB;
	height: 50px;
	width: 40px;
	position: fixed;
	left: 0;
	top: 15px;
	cursor: pointer;
	border-top-right-radius: 24px;
	border-bottom-right-radius: 24px;
	display: flex;
	align-items: center;
	justify-content:flex-end;
	padding-right: 10px;
}

.button-menu-icon{
	fill: #fff !important;
}
